/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de la carte */
#map {
    width: 100%;
    height: 100vh;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 0;
}

/* Conteneur des filtres */
.filters-container {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    max-height: calc(100vh - 40px);
    width: 370px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
}

/* Section de chaque filtre */
.filter-section {
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    padding: 8px 2px;
padding: 10px;
border-bottom: 1px solid #eee; /* Use any color you like */


}

.filter-section:hover {
      background-color: #FFF;
      box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.1),   /* Small inner shadow */
    0 6px 12px rgba(0, 0, 0, 0.08), /* Medium shadow for depth */
    0 12px 24px rgba(0, 0, 0, 0.05); /* Large, soft outer shadow */
}

/* Éléments de saisie et sélecteurs de filtre */
.filter-input,
.filter-select {
    margin-bottom: 10px;
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

.filter-input:focus,
.filter-select:focus {
    border-color: #007bff;
    outline: none;
}

/* Titres des sections de filtre */
.filter-title {
    font-weight: 600;
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    transition: color 0.3s ease-in-out;
}

/* Labels */
.filter-label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #555;
    transition: color 0.3s ease-in-out;
}

/* Cases à cocher pour chaque type de transport */
.filter-toggle {
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
}

/* Style global */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Boutons de bascule des couches */
.layer-toggle:focus {
    outline: none;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

/* Sélecteur */
select {
    width: 100%;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
      appearance: none;       /* Standard */
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none;   /* Firefox */

}

select:focus {
    border-color: #007bff;
    outline: none;
}

/* Ajustement de la position des contrôles de leaflet */
.leaflet-left {
    left: 400px;
    transition: left 0.3s ease-in-out;
}

/* Boutons avec un style subtil */
button {
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
}


/* Style the input checkbox directly */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #28a745; /* Changes the check color */
  border-radius: 4px; /* Rounds the corners of the checkbox */
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: outline-color 0.3s, transform 0.3s;
}

/* Add a subtle effect on focus */
input[type="checkbox"]:focus {
  outline-color: #007bff;
}

/* Add hover effect */
input[type="checkbox"]:hover {
  transform: scale(1.1);
}

/* Style the associated label for better appearance */
label {
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
.toggle-column-filter-btn{
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 8px;
}
.column-filter{
    padding: 4px 8px;
    margin: 4px 0;
}
.column-filter option{
    font-size: 12px !important;
}
.leaflet-control-layers, .leaflet-bar > a{
    background-clip: padding-box !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.08), 0 12px 24px rgba(0, 0, 0, 0.05) !important;
    border: 0 !important;
}
.leaflet-bar {
    border: 0px !important;
}
.leaflet-bar > a{

    margin: 4px !important;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    transition: 0.3s ease-in-out;

}

.leaflet-bar > a:hover{

    margin: 4px !important;
    background-color: rgba(255, 255, 255, 1);
}
.leaflet-top {
    top: 10px;
}

.leaflet-tooltip {
    max-width: 400px; 
        white-space: normal;         /* Permet au texte de passer à la ligne */
    overflow-wrap: break-word;   /* Coupe les mots trop longs pour éviter le dépassement */
    word-wrap: break-word;       /* Ancienne version pour compatibilité */

}

@media (max-width: 1100px) {
    body{
        max-height: 100vh;
    }
  .leaflet-top {
    top: 0%;
    left: 0;
    overflow-y: auto;
}

  .filters-container {
    position: absolute;
    top: auto;
    bottom: 2%;
    left: 20px;
    border-radius: 20px;
    max-height: calc(100vh - 72%);
    max-width: calc(100vw - 40px);
    }
}
